img {display: block;
margin-left: auto;
margin-right: auto;}
body {
        background-color: hsl(180, 100%, 99%);
        }
h1 {background-color: #49A5AD;
     text-align: center;
     font-size: 300%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         border-style: outset
         ; border-color: #9BF2FA;
        color: #9BF2FA;}
#MENUBAR{background-color: #49A5AD;
          width:100%;}
#para1{color: rgb(31, 11, 11);
background-color: rgb(32, 18, 233);}
#para2{font-family: Georgia, 'Times New Roman', Times, serif;}
#Heading{font-size: larger;}
#link1{background-color: rgb(36, 218, 231);}
#border{ text-align: center;
        width: 100%; font-family: serif;
background-color: #49A5AD;}
#link{background-color:#9BF2FA;
       border-style:groove; color:#AD7D5A
       ;text-decoration: none;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
             }
#MAIN{background-color:#FFD5B8 ;}
#end_table_bar{color: rgb(245, 242, 243); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;;}
#h1 {
        text-align: center;
    }
#about{text-align: center; color: rgb(33, 115, 126); font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: smaller;}
#link3{color: black;
         text-decoration:none;}
#background{background-color: #f9f9f8;}
#log{color: blue;
         text-decoration: none;
            border-style: outset;
            border-color: black;
            font-size: larger;}
#nobar{text-decoration: none;}



